{% extends 'tracker/home.html' %}
{% block table %}
{% for obj in expenses %}
<tr>
    <th scope="row">{{ forloop.counter }}</th>
    <td>{{ obj.title }}</td>
    {% if obj.description %}
    <td>
            {{ obj.description }}
        </td>
        {% else %}
        <td class="text-muted">
            no description provided
        </td>
        {% endif %}
    
    <td>{{ obj.amount }}</td>
    <td>{{ obj.category }}</td>
    <td>{{ obj.created_at }}</td>
</tr>
{% endfor %}
{% endblock table %}
