{% extends 'tracker/base.html' %}
{% block content %}
<div class="d-flex justify-content-center">
    <h2>Your Expenses
    </h2>
        <button type="button" class="btn btn-primary" data-url="{% url 'create' %}" id="create-btn">
            Add a new Expense
        </button>
        <div class="modal fade" id="formModel" tabindex="-1" role="dialog" aria-labelledby="createFormTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                    </div>
            </div>
        </div>
</div>
</div>
<div class="d-flex justify-content-center">
    <div class="col-md-10 m-3">
        <div class="table-responsive">
            <table class="table" id="expense-table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Sr.no</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Category</th>
                        <th scope="col">Created At</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% include 'tracker/expense_table.html' %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="static/tracker/index.js"></script>
{% endblock content %}