{% extends 'tracker/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <h3>You have been logged out of your account</h3>
            <div class="border-top pt-3">
                <small class="text-muted">Dont want to leave yet? <a href="{% url 'user-login' %}" class="ml-2"> Click here to Login</a></small>
            </div>
        </div>
    </div>
</div>
{% endblock content %}